<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/about.css">
</head>

<body>
    <script src="./srcc/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <header class="header">
        <div class="container">
            <a class="title">我的个人博客 | 技术博客</a>
            <ul class="menu">
                <li><a href="/">首页</a></li>
                <li><a href="./about.html">关于我</a></li>
                <li><a href="./guestbook.html">留言</a></li>
            </ul>
            <div class="search_bar">
                <input type="text" placeholder="输入标题关键词查找">
                <button>搜索</button>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content_left">
            <div class="description">
                <div class="about_title">关于我</div>
                <p>大三本科在校学生(2021年毕业)</p>
                <p>简历可以微信联系我，微信号：18341573276</p>
                
                <div class="about_title">关于博客</div>
                <p> 前后端代码及数据库都由我一人负责，日后还会不断维护优化。<br />
                    (注：文章只有我本人可以发布，评论留言功能任何人都可以使用。)
                    
                </p>
                <br />    
                <p>
                    1.1版本更新内容:<br />
                        &nbsp&nbsp1.评论完自动页面刷新<br />
                        &nbsp&nbsp2.解决了评论内容换行空格无法正确显示的问题<br />
                        &nbsp&nbsp3.拓展了评论长度上限<br />
                        &nbsp&nbsp4.右侧评论展示可以翻页了<br />

                </p>      
            </div>
            
        </div>
        <div class="content_right">
            <div class="latiao">
                <img src="./img/歪箭头.png" alt="">
            </div>
            <div class="right_module" id="right_tags">
                <div>随机标签</div>
                <a :href="'/?tag=' + tag" v-for="tag in tags"
                    :style="{color: randomColor(), fontSize: randomSize()}">{{tag}}</a>

            </div>
            <div class="right_module" id="new_hot">
                <div>热门文章</div>
                <ul>
                    <li v-for="temp in titleList">
                        <a :href="temp.link">{{temp.title}}</a>
                    </li>

                </ul>
            </div>
            <div class="right_module" id="new_comments">
                <div class="comment-head">最近评论</div>
                <div class="comment-head"><span class="comment-tool-left" @click="change(page-1)">上一页</span><span class="comment-tool-right" @click="change(page+1)">下一页</span></div>
                <ul class="commentsul">
                    <li v-for="comment in commentList">
                        <div>
                            <span>{{comment.name}}</span>
                            <span class="pull_right">{{comment.date}}</span>
                        </div>
                        <div class="huanhang" v-html="comment.comment"></div>
                </ul>
            </div>
            <div class="right_module">
                <div>一个链接</div>
                <ul>
                    <li><a href="https://www.1688.com/" target="_blank">阿里巴巴</a></li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li>html</li>
            <li>javascript</li>
            <li>vue</li>
            <li>react</li>
            <li>nodejs</li>
        </ul>
        <p>Copyright © 2020 AutiqueWhite</p>
    </footer>
    <script src="./js/about.js"></script>
    <script src="./js/base.js"></script>
</body>

</html>